// layout.pug
doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/styles.css')
  body
    nav
      ul
        li
          a(href='/') &#127968; Inicio
        li
          a(href='/catalogo') &#128092; Catálogo de Productos
        li
          a(href='/carrito') &#x1F6D2; Carrito de Compra (#{carrito.length})
           
    .container
      block content
