extends layout

block content
  .form-container
    h1 Registro de Cliente
    form.form-style(action="/registro_cliente", method="post")
      .form-group
        label(for="nombre") Nombre:
        input(type="text", name="nombre", required)
      .form-group
        label(for="apellido") Apellido:
        input(type="text", name="apellido", required)
      .form-group
        input(type="submit")